.header-content {
    background-color: #CE2829;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    color: white;
    position: relative; 
    

}
.header-content-img {
  
    display: flex;
    align-items: center;
    justify-content: center; 
    object-fit: contain;
    aspect-ratio:2/1;
    width: 300px;
}
.nav {
    margin-left: -85px;
    width: 100%; 
    display: flex;
    justify-content: center; 
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-right: 15px; 
  }
  
  .nav-link {
    text-decoration: none;
    color: whitesmoke; 
    font-weight: bold;
    
  }
  
  .nav-link:hover {
    text-decoration: underline; 
  }