.header-content {
    background-color: #CE2829;
    width: 100%;
    height: 6.313rem;
    display: flex; 
    justify-content: center; 
    color: white;
    position: relative; 
    

}
.header-content-img {
    display: flex;
    align-items: center;
    justify-content: center; 
    object-fit: contain;
    aspect-ratio:2/1;
}